spec:
  inputs:
    mode:
      description: "Choose DEPLOY_MODE: deploy or rollback"
      type: string
      default: "deploy"
      options: ["deploy", "rollback"]
    tag:
      description: "Give me tag for rollback"
      type: string
      default: ""
    tests:
      description: "Run tests?"
      type: boolean
      default: true
---

stages:
  - lint-tf
  - validate
  - plan
  - apply
  - deploy
  - lint-app
  - build
  - test
  - prepare
  - rollback
  - destroy
  - notify

workflow:
  rules:
    - if: '$CI_COMMIT_MESSAGE =~ /\[infra\]/'
    - if: '$CI_COMMIT_MESSAGE =~ /\[destroy\]/'
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$DEPLOY_MODE == "deploy"'
    - if: '$DEPLOY_MODE == "rollback"'
    - when: never

variables:
  TAG: $[[ inputs.tag ]]
  RUN_TESTS: $[[ inputs.tests ]]
  DEPLOY_MODE: $[[ inputs.mode ]]

include:
  - local: 'deployment/infra.yml'
  - local: 'deployment/deploy.yml'