services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./app/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${DB_USER} -d ${DB_NAME}'"]
      interval: 30s
      timeout: 10s
      retries: 5

  backend:
    image: "${APP_IMAGE}"
    restart: always
    environment:
      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:5432/${DB_NAME}"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http:/localhost:5000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  proxy:
    image: nginx:alpine
    restart: always
    ports:
      - 8000:80
    depends_on:
      backend:
        condition: service_healthy
    volumes:
       - ./nginx/bookstore.conf:/etc/nginx/conf.d/default.conf
       - ./app/static:/static

volumes:
  pg_data:
