---
- name: Add permissions on .ssh for jenkins
  file:
    path: /home/jenkins/.ssh
    state: directory
    owner: jenkins
    group: jenkins
    mode: '0700'

- name: Check if ssh-key already
  stat:
    path: /home/jenkins/.ssh/id_ed25519
  register: jenkins_ssh_key

- name: Generate ssh-key for jenkins
  when: not jenkins_ssh_key.stat.exists
  community.crypto.openssh_keypair:
    path: /home/jenkins/.ssh/id_ed25519
    type: ed25519
    state: present
    mode: '0600'

- name: Add correct permissions for ssh-key
  file:
    path: /home/jenkins/.ssh/id_ed25519
    owner: jenkins
    group: jenkins
    mode: '0600'

- name: Fetch pub key from agent to main host
  fetch:
    src: /home/jenkins/.ssh/id_ed25519.pub
    dest: /home/ivan/agent_keys/{{ inventory_hostname }}-jenkins.pub
    flat: yes

- name: Add pub-key jenkins
  authorized_key:
    user: jenkins
    state: present
    key: "{{ lookup('file', '{{ role_path }}/files/jenkins_key.pub') }}"
